<section class="container con-catalog">
  <h2 class="catalog-title">Catalog</h2>
  <div class="catalog">
  <ul class="list-catalog">
      <li class="item-list-catalog">

          <picture class="pic-catalog">
              <source srcset="./img/catalog-1-1280.png 1x, ./img/catalog-1-1280-2x.png 2x"
                  media="(min-widht: 1280px)">

              <source srcset="../img/catalog-1-768.png 1x, ./img/catalog-1-768-2x.png 2x"
                  media="(min-widht: 768px)">
              <source srcset="./img/catalog-1.png 1x, ./img/catalog-1-2x.png 2x"
                  media="(min-widht: 375px)">
              <img srcset="./img/catalog-1.png 1x, ./img/catalog-1-2x.png 2x" alt="fenix" width="208" height="226" />
          </picture>

      <h3 class="list-catalog-title">Garmin Fenix 7X Pro Sapphire Solar </h3>
      <p class="list-catalog-text">€500</p></li>
     
      <li class="item-list-catalog">

          <picture class="pic-catalog">
              <source srcset="./img/catalog-2-1280.png 1x, ./img/catalog-2-1280-2x.png 2x"
                  media="(min-widht: 1280px)">

              <source srcset="../img/catalog-2-768.png 1x, ./img/catalog-2-768-2x.png 2x"
                  media="(min-widht: 768px)">

              <source srcset="./img/catalog-1.png 1x, ./img/catalog-1-2x.png 2x"
                  media="(min-widht: 375px)">

              <img srcset="./img/catalog-2.png 1x, ./img/catalog-2-2x.png 2x" alt="marg" width="208" height="226" />
          </picture>

      <h3 class="list-catalog-title">Garmin Marq Athlete</h3>
      <p class="list-catalog-text">€450</p></li>
      
      <li class="item-list-catalog">

          <picture class="pic-catalog">
              <source srcset="./img/catalog-3-1280.png 1x, ./img/catalog-3-1280-2x.png 2x"
                  media="(min-widht: 1280px)">

              <source srcset="../img/catalog-3-768.png 1x, ./img/catalog-3-768-2x.png 2x"
                  media="(min-widht: 768px)">

              <source srcset="./img/catalog-3.png 1x, ./img/catalog-3-2x.png 2x"
                  media="(min-widht: 375px)">
                  
              <img srcset="./img/catalog-3.png 1x, ./img/catalog-3-2x.png 2x" alt="descent" width="208" height="226" />
          </picture>

      <h3 class="list-catalog-title">Garmin Descent MK1</h3>
      <p class="list-catalog-text">€680</p></li>
      
      <li class="item-list-catalog">

          <picture class="pic-catalog">
              <source srcset="./img/catalog-4-1280.png 1x, ./img/catalog-4-1280-2x.png 2x"
                  media="(min-widht: 1280px)">

              <source srcset="./img/catalog-4-768.png 1x, ./img/catalog-4-768-2x.png 2x"
                  media="(min-widht: 768px)">

              <source srcset="./img/catalog-4.png 1x, ./img/catalog-4-2x.png 2x"
                  media="(min-widht: 375px)">
                  
              <img srcset="./img/catalog-4.png 1x, ./img/catalog-4-2x.png 2x" alt="delta" width="208" height="226" />
          </picture>

      <h3 class="list-catalog-title">Garmin D2 Delta PX</h3>
      <p class="list-catalog-text">€380</p></li>

      <li class="item-list-catalog pic-5-6">

        <picture class="pic-catalog ">
            <source srcset="./img/catalog-5-1280.png 1x, ./img/catalog-5-1280-2x.png 2x"
                media="(min-widht: 1280px)">

            <source srcset="./img/catalog-5-768.png 1x, ./img/catalog-5-768-2x.png 2x"
                media="(min-widht: 768px)">
                
            <img srcset="./img/catalog-5-768.png 1x, ./img/catalog-5-768-2x.png 2x" alt="solar" width="208" height="226" />
        </picture>

    <h3 class="list-catalog-title">Garmin Fenix 6 Pro Solar</h3>
    <p class="list-catalog-text">€400</p></li>

    <li class="item-list-catalog pic-5-6">

      <picture class="pic-catalog">
          <source srcset="./img/catalog-6-1280.png 1x, ./img/catalog-6-1280-2x.png 2x"
              media="(min-widht: 1280px)">

          <source srcset="./img/catalog-6-768.png 1x, ./img/catalog-6-768-2x.png 2x"
              media="(min-widht: 768px)">

          <img srcset="./img/catalog-6-768.png 1x, ./img/catalog-6-768-2x.png 2x" alt="delta" width="208" height="226" />
      </picture>

  <h3 class="list-catalog-title">Tube Watch S42 Date Steel W...</h3>
  <p class="list-catalog-text">€395</p></li>
  </ul>
  <button type="button" class="catalog-btn">Show more</button></div>
</section>
