<section>
  <h2 class="contact-heder">Contact us</h2>

  <form class="contact-form">
    <p class="contact-text">
      Please use the form below to contact us. Enter your name, email, phone,
      and message and we'll get back to you shortly.
    </p>
    <div class="contact-input-container">
      <textarea
        class="contact-comment-textar"
        name="user-comment"
        id="user-name"
        placeholder="Name"
      ></textarea>
    </div>

    <div class="contact-input-container">
      <textarea
        class="contact-comment-textar"
        name="user-comment"
        id="user-phone"
        placeholder="Email"
      ></textarea>
    </div>

    <div class="contact-input-container">
      <textarea
        class="contact-comment-textar"
        name="user-comment"
        id="user-email"
        placeholder="+380"
      ></textarea>
    </div>

    <div class="contact-comment-container">
      <textarea
        class="contact-comment-area"
        name="user-comment"
        id="user-comment"
        placeholder="Comment"
      ></textarea>
    </div>

    <button type="submit" class="contact-form-button">Send</button>
  </form>
</section>
