<section>
  <h2 class="contact-heder">Contact us</h2>

  <p class="contact-text">Leave your contacts and we will call you back</p>
  <form class="contact-form">
    <div class="contact-input-container">
      <textarea
        class="contact-comment-textar"
        name="user-comment"
        id="user-name"
        placeholder="Name"
      ></textarea>
    </div>

    <div class="contact-input-container">
      <textarea
        class="contact-comment-textar"
        name="user-comment"
        id="user-phone"
        placeholder="Email"
      ></textarea>
    </div>

    <div class="contact-input-container">
      <textarea
        class="modal-comment-textar"
        name="user-comment"
        id="user-email"
        placeholder="+380"
      ></textarea>
    </div>

    <div class="contact-comment-container">
      <textarea
        class="modal-comment-textar"
        name="user-comment"
        id="user-comment"
        placeholder="Comment"
      ></textarea>
    </div>

    <button type="submit" class="contact-form-button">Send</button>
  </form>
</section>
