<section class="hero">
  <div class="container hero-container">
    <div class="hero-wrap">
      <div class="hero-text-wrap">
        <h1 class="hero-title">
          Welcome to our <span class="hero-span">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="hero-icon-scroll">
        <img
          src="../img/hero-icons.png"
          alt="people"
          class="hero-icons"
          width="108"
          height="44"
        />
        <a href="#footer" class="hero-link">Scroll down</a>
      </div>
    </div>
    <picture>
      <source
        srcset="../img/hero-img-1280.jpg 1x, ../img/hero-img-1280-2x.jpg 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="../img/hero-img-768.jpg 1x, ../img/hero-img-768-2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="../img/hero-img.jpg 1x, ../img/hero-img-2x.jpg 2x"
        media="(min-width: 375px)"
      />
      <img
        src="../img/hero-img.jpg"
        alt="watch"
        class="hero-img"
        width="1150"
        height="500"
      />
    </picture>
  </div>
</section>
