<div class="backdrop">
    <div class="mob-menu is-open">
        <div class="button-container">
            <button type="button" class="menu-close-btn">
                <svg class="svg-close-mob" width="17" height="17">
                    <use href="../img/icons.svg#icon-x"></use>
                </svg>
            </button>
        </div>
        <nav>
            <ul class="mob-menu-list">
                <li class="mob-menu-li active"><a href="./index.html" class="mob-menu-item">Home</a></li>
                <li class="mob-menu-li"><a href="" class="mob-menu-item">About Us</a></li>
                <li class="mob-menu-li"><a href="" class="mob-menu-item">Catalog</a></li>
                <li class="mob-menu-li"><a href="" class="mob-menu-item">Sale</a></li>
                <li class="mob-menu-li"><a href="" class="mob-menu-item">Reviews</a></li>
                <li class="mob-menu-li"><a href="" class="mob-menu-item">Contact Us</a></li>
            </ul>
        </nav>

        <ul class="socmedia-list">
            <li class="socmedia-item">
                <a href="" class="socmedia-link">
                    <svg class="socmedia-icon" width="18" height="18">
                        <use href="../img/icons.svg#icon-fb"></use>
                    </svg>
                </a>
            </li>
            <li class="socmedia-item">
                <a href="" class="socmedia-link">
                    <svg class="socmedia-icon" width="18" height="18">
                        <use href="../img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="socmedia-item">
                <a href="" class="socmedia-link">
                    <svg class="socmedia-icon" width="18" height="18">
                        <use href="../img/icons.svg#icon-you"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>

</div>