<section class="mob-menu is-open">
    <div>
        <nav>
            <ul class="mob-menu-list">
                <li class="mob-menu-li"><a href="./index.html" class="mob-menu-item">Home</a></li>
                <li class="mob-menu-li"><a href="" class="mob-menu-item">About Us</a></li>
                <li class="mob-menu-li"><a href="" class="mob-menu-item">Catalog</a></li>
                <li class="mob-menu-li"><a href="" class="mob-menu-item">Sale</a></li>
                <li class="mob-menu-li"><a href="" class="mob-menu-item">Reviews</a></li>
                <li class="mob-menu-li"><a href="" class="mob-menu-item">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</section>