<section class="review" id="review">
  <div class="container review-wrap">
    <h2 class="review-title">Reviews</h2>
    <ul class="review-list">
      <div class="review-in">
        <li class="review-item">
          <div class="review-content">
            <img
              class="review-img"
              src="./img/reviews-1.jpg"
              alt="man-with-black-hair"
              srcset="./img/reviews-1.jpg 1x, ./img/reviews-1-2x.jpg 2x"
              width="56"
              height="56"
            />
            <h3 class="review-subtitle">John Wax</h3>
            <p class="review-text">
              Buying a watch from was the best choice for me. The design is
              perfectly combined with high quality materials. The strap fits
              nicely on the hand, and the mechanism works flawlessly.
            </p>
          </div>
        </li>
      </div>
      <div class="review-in two">
        <li class="review-item">
          <div class="review-content">
            <img
              class="review-img"
              src="./img/reviews-2.jpg"
              alt="woman-with-blond-hair"
              srcset="./img/reviews-2.jpg 1x, ./img/reviews-2-2x.jpg 2x"
              width="56"
              height="56"
            />
            <h3 class="review-subtitle">Victoria Romashenko</h3>
            <p class="review-text">
              Can't take my eyes off my watch from. Every time I put it on, it
              is admired by those around me. The build quality and attention to
              detail make it a real gem among my accessories.
            </p>
          </div>
        </li>
      </div>
      <div class="review-in three">
        <li class="review-item">
          <div class="review-content">
            <img
              class="review-img"
              src="./img/reviews-3.jpg"
              alt="woman-with-glasses"
              srcset="./img/reviews-3.jpg 1x, ./img/reviews-3-2x.jpg 2x"
              width="56"
              height="56"
            />
            <h3 class="review-subtitle">Anastasia Trachuk</h3>
            <p class="review-text">
              My watch from is a real masterpiece. Every detail impresses with
              the high quality of execution. Special features like [specify
              features] make it an indispensable companion in my daily life.
            </p>
          </div>
        </li>
      </div>
    </ul>
  </div>
</section>
