<section class="sale" id="sale">
  <div class="container sale-container">
    <h2 class="sale-subject">Sale</h2>
    <div class="sale-wrap">
      <div class="sale-watch">
        <ul class="sale-watch-list">
          <li class="sale-watch-item">
            <picture>
              <source
                srcset="./img/sale-1-1280.png 1x, ./img/sale-1-1280-2x.png 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./img/sale-1-768.png 1x, ./img/sale-1-768-2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/sale-1.png 1x, ./img/sale-1-2x.png 2x"
                media="(min-width: 375px)"
              />
              <img
                src="./img/sale-1.png"
                width="52"
                alt="watch"
                class="sale-watch-img"
              />
            </picture>
          </li>
          <li class="sale-watch-item">
            <picture>
              <source
                srcset="./img/sale-2-1280.png 1x, ./img/sale-2-1280-2x.png 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./img/sale-2-768.png 1x, ./img/sale-2-768-2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/sale-2.png 1x, ./img/sale-2-2x.png 2x"
                media="(min-width: 375px)"
              />
              <img
                src="./img/sale-2.png"
                width="52"
                alt="watch"
                class="sale-watch-img"
              />
            </picture>
          </li>
          <li class="sale-watch-item">
            <picture>
              <source
                srcset="./img/sale-3-1280.png 1x, ./img/sale-3-1280-2x.png 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./img/sale-3-768.png 1x, ./img/sale-3-768-2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/sale-3.png 1x, ./img/sale-3-2x.png 2x"
                media="(min-width: 375px)"
              />
              <img
                src="./img/sale-3.png"
                width="52"
                alt="watch"
                class="sale-watch-img"
              />
            </picture>
          </li>
          <li class="sale-watch-item">
            <picture>
              <source
                srcset="./img/sale-4-1280.png 1x, ./img/sale-4-1280-2x.png 2x"
                media="(min-width: 1280px)"
              />
              <source
                srcset="./img/sale-4-768.png 1x, ./img/sale-4-768-2x.png 2x"
                media="(min-width: 768px)"
              />
              <source
                srcset="./img/sale-4.png 1x, ./img/sale-4-2x.png 2x"
                media="(min-width: 375px)"
              />
              <img
                src="./img/sale-4.png"
                width="52"
                alt="watch"
                class="sale-watch-img"
              />
            </picture>
          </li>
        </ul>
        <div class="sale-watch-image">
          <picture>
            <source
              srcset="./img/sale-5-1280.png 1x, ./img/sale-5-1280-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/sale-5-768.png 1x, ./img/sale-5-768-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/sale-5.png 1x, ./img/sale-5-2x.png 2x"
              media="(min-width: 375px)"
            />
            <img
              src="./img/sale-5.png"
              width="235"
              alt="watch"
              class="sale-watch-image1"
            />
          </picture>
        </div>
      </div>
      <div class="sale-block">
        <h3 class="sale-block-subtitle">
          MARQ® Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-block-text1">Product tag: 706587</p>
        <ul class="sale-price-list">
          <li class="sale-price-item">
            <p class="sale-block-text2">€1500</p>
          </li>
          <li class="sale-price-item">
            <p class="sale-block-text3">€3000</p>
          </li>
        </ul>
        <p class="sale-block-text4">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <div class="sale-btn">
          <ul class="sale-btn-list">
            <li class="sale-btn-item">
              <button type="submit" class="button block-btn1">
                Fused carbon fiber
              </button>
              <button type="submit" class="button block-btn2">
                Grade-5 Titanuim
              </button>
              <button type="submit" class="button block-btn3">Athlete</button>
              <button type="submit" class="button block-btn4">Golfer</button>
              <button type="submit" class="button block-btn5">Commander</button>
              <button type="submit" class="button block-btn6">
                Adventurer
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--<div class="sale-watch sale-wrap">
      <ul class="sale-watch-list">
        <li class="sale-watch-item">
          <picture>
            <source
              srcset="./img/sale-1-1280.png 1x, ./img/sale-1-1280-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/sale-1-768.png 1x, ./img/sale-1-768-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/sale-1.png 1x, ./img/sale-1-2x.png 2x"
              media="(min-width: 375px)"
            />
            <img
              src="./img/sale-1.png"
              width="52"
              alt="watch"
              class="sale-watch-img"
            />
          </picture>
        </li>
        <li class="sale-watch-item">
          <picture>
            <source
              srcset="./img/sale-2-1280.png 1x, ./img/sale-2-1280-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/sale-2-768.png 1x, ./img/sale-2-768-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/sale-2.png 1x, ./img/sale-2-2x.png 2x"
              media="(min-width: 375px)"
            />
            <img
              src="./img/sale-2.png"
              width="52"
              alt="watch"
              class="sale-watch-img"
            />
          </picture>
        </li>
        <li class="sale-watch-item">
          <picture>
            <source
              srcset="./img/sale-3-1280.png 1x, ./img/sale-3-1280-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/sale-3-768.png 1x, ./img/sale-3-768-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/sale-3.png 1x, ./img/sale-3-2x.png 2x"
              media="(min-width: 375px)"
            />
            <img
              src="./img/sale-3.png"
              width="52"
              alt="watch"
              class="sale-watch-img"
            />
          </picture>
        </li>
        <li class="sale-watch-item">
          <picture>
            <source
              srcset="./img/sale-4-1280.png 1x, ./img/sale-4-1280-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/sale-4-768.png 1x, ./img/sale-4-768-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/sale-4.png 1x, ./img/sale-4-2x.png 2x"
              media="(min-width: 375px)"
            />
            <img
              src="./img/sale-4.png"
              width="52"
              alt="watch"
              class="sale-watch-img"
            />
          </picture>
        </li>
      </ul>
      <div class="sale-watch-image">
        <picture>
          <source
            srcset="./img/sale-5-1280.png 1x, ./img/sale-5-1280-2x.png 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/sale-5-768.png 1x, ./img/sale-5-768-2x.png 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/sale-5.png 1x, ./img/sale-5-2x.png 2x"
            media="(min-width: 375px)"
          />
          <img
            src="./img/sale-5.png"
            width="235"
            alt="watch"
            class="sale-watch-image1"
          />
        </picture>
      </div>
    </div>
    <div class="sale-block">
      <h3 class="sale-block-subtitle">
        MARQ® Commander (Gen 2) - Carbon Edition
      </h3>
      <p class="sale-block-text1">Product tag: 706587</p>
      <ul class="sale-price-list">
        <li class="sale-price-item">
          <p class="sale-block-text2">€1500</p>
        </li>
        <li class="sale-price-item">
          <p class="sale-block-text3">€3000</p>
        </li>
      </ul>
      <p class="sale-block-text4">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <div class="sale-btn">
        <ul class="sale-btn-list">
          <li class="sale-btn-item">
            <button type="submit" class="button block-btn1">
              Fused carbon fiber
            </button>
            <button type="submit" class="button block-btn2">
              Grade-5 Titanuim
            </button>
            <button type="submit" class="button block-btn3">Athlete</button>
            <button type="submit" class="button block-btn4">Golfer</button>
            <button type="submit" class="button block-btn5">Commander</button>
            <button type="submit" class="button block-btn6">Adventurer</button>
          </li>
        </ul>
      </div>-->
    </div>
  </div>
</section>
