/*................... advertisement......................... */

.advertisement {
  width: 375px;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  /* padding: 30px 20px; */
  margin: 0 auto;
}

.advertisement-container {
  width: 335px;
  height: 363px;
  border-radius: 30px;
  padding: 60px 28px;
  margin: 0 auto;
  background-color: rgba(12, 12, 12, 1);
  background-image: url(./img/ad.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ration: 2) {
  .advertisement-container {
    background-color: rgba(12, 12, 12, 1);
    background-image: url(./img/ad-2x.png);
  }
}

.advertisement-title {
  font-size: 32px;
  max-width: 279px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  text-align: left;
  margin-bottom: 47px;
}

.advertisement-accent {
  color: rgba(251, 251, 251, 0.5);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.02em;
}

.advertisement-scroll {
  width: 160px;
  height: 48px;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #fbfbfb;
  text-align: center;
  margin: 0;
  padding: 15px 43px 15px 44px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .advertisement {
    width: 768px;
    padding-top: 0;
    padding-bottom: 80px;
    padding-left: 32px;
    padding-right: 32px;
    /* padding: 40px 32px; */
  }

  .advertisement-container {
    width: 704px;
    height: 425px;
    padding: 80px 64px;
    background-image: url(./img/ad-768.png);
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ration: 2) {
    .advertisement-container {
      background-image: url(./img/ad-768-2x.png);
    }
  }

  .advertisement-title {
    font-weight: 600;
    font-size: 48px;
    max-width: 576px;
    line-height: 92%;
    letter-spacing: -0.02em;
    margin-bottom: 47px;
  }

  .advertisement-accent {
    font-size: 48px;
    line-height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .advertisement {
    width: 1280px;
    padding-top: 0;
    padding-bottom: 100px;
    padding-left: 65px;
    padding-right: 65px;
    /* padding: 50px 65px; */
  }

  .advertisement-container {
    width: 1150px;
    height: 298px;
    padding: 83px 80px;
    display: flex;
    gap: 140px;
    justify-content: center;
    flex-direction: row;
    background-image: url(./img/ad-1280.png);
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ration: 2) {
    .advertisement-container {
      background-image: url(./img/ad-1280-2x.png);
    }
  }

  .advertisement-title {
    max-width: 690px;
    margin: 0 auto;
  }
}

.advertisement-scroll {
  /* padding: 15px 43px; */
  padding-top: 15px;
  padding-right: 43px;
  padding-bottom: 15px;
  padding-left: 44px;

  width: 280px;
  height: 48px;
}

/*.................... advertisement..................... */
