.contact-us {
  padding-bottom: 40px;
}

.contact-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.contact-input-wrap {
  width: 335px;
  margin-bottom: 20px;
  background-color: #f3f3f3;
  border-radius: 30px;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 48px 28px;
}

.contact-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
  width: 279px;
  min-height: 54px;
}

.contact-comment-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  color: #0c0c0c;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 120px 12px 14px;
  width: 279px;
  height: 42px;
  margin-bottom: 18px;
}

.contact-comment-input:hover,
.contact-comment-input:focus {
  border: 1px solid #3350e9;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-comment-user {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 136px 0 14px;
  width: 279px;
  height: 84px;
  margin-bottom: 28px;
}

.contact-comment-user:hover,
.contact-comment-user:focus {
  border: 1px solid #3350e9;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-button {
  border-radius: 16px;
  border: none;
  padding: 12px 50px 12px 50px;
  width: 134px;
  height: 42px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-button:hover,
.contact-button:focus {
  background-color: #1f3cd4;
}

.contact-img {
  min-width: 335px;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .contact-us {
    padding-top: 0;
    padding-bottom: 80px;
    border-radius: 0;
    background-color: unset;
  }

  .contact-wrap {
    display: flex;

    flex-direction: column;
  }

  .contact-input-wrap {
    background-color: #f3f3f3;
    border-radius: 50px;
    padding-right: 122px;
    padding-left: 122px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 40px;
    width: 704px;
    height: 556px;
  }

  .contact-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }

  .contact-text {
    font-size: 16px;
    line-height: 1.25;
    width: 460px;
    min-height: 40px;
    margin-bottom: 32px;
  }

  /* .contact-form {
    width: 460px;
  } */

  .contact-comment-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0c0c0c;
    padding: 16px 100px 16px 18px;
    width: 460px;
    height: 52px;
  }

  .contact-comment-user {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0c0c0c;
    padding: 16px 315px 0 16px;
    width: 460px;
    height: 90px;
    margin-bottom: 32px;
  }

  /* .contact-btn-link {
  } */

  .contact-img {
    border-radius: 50px;
    width: 704px;
    height: 556px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .contact-us {
    padding-top: 0;
    padding-bottom: 100px;
    border-radius: 0;
    background-color: unset;
  }

  .contact-container {
    width: 1150px;
    padding: 0;
  }

  .contact-wrap {
    margin-bottom: 0;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .contact-input-wrap {
    padding: 50px 60px 50px 60px;
    margin-bottom: 0;
    justify-content: center;
    margin-right: 40px;
    width: 580px;
    height: 556px;
    display: unset;
  }

  .contact-text {
    margin-bottom: 40px;
    max-width: 460px;
  }

  .contact-comment-input {
    padding-left: 16px;
  }

  .contact-comment-user {
    padding-top: 16px;
    padding-left: 16px;
  }

  .contact-img {
    width: 530px;
    height: 556px;
    flex-shrink: 0;
  }
}
