.footer {
  padding-top: 40px;
  padding-bottom: 28px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #0c0c0c;
  max-width: 335px;

  /* font-family: 'Gilroy', sans-serif; */
}

.ftr-wrap {
  padding-left: 28px;
  padding-right: 28px;
}

.ftr-mob-wrap {
  margin-bottom: 92px;
}

.ftr-desktop-wrap {
  display: none;
}

.ftr-logo {
  margin-bottom: 20px;
}

.ftr-logo-tab {
  display: none;
}

.ftr-soc-list {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.ftr-soc-link {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-soc-link:hover,
.ftr-soc-link:focus {
  fill: #fbfbfb;
}
.ftr-soc-icon {
  fill: #fbfbfb;
  fill-opacity: 0.8;

  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 36px;
  height: 36px;
}

.ftr-tel-link {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  max-width: 156px;
  height: 44px;
  padding: 14px 20px;
  margin-bottom: 40px;
}
.ftr-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  max-width: 279px;
}

.m-ad-wrap {
  display: flex;
  border-width: 280px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  margin-bottom: 24px;
}

.ftr-menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 16px;
  margin-right: 49px;
  margin-bottom: 24px;
}
.ftr-m-item {
  max-width: 103px;
}
.ftr-m-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: #fbfbfb;
}

.ftr-ad-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #fbfbfb;
  max-width: 83px;
}
.copyrights {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}

.policy {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;

  color: rgba(251, 251, 251, 0.5);
  margin-top: 8px;
}
.terms-link {
  margin-right: 20px;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .footer {
    max-width: 704px;
  }

  .ftr-logo {
    display: none;
  }

  .ftr-logo-tab {
    display: unset;
    margin-bottom: 20px;
  }

  .ftr-mob-wrap {
    margin-bottom: 0;
  }

  .ftr-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .ftr-tel-link {
    font-size: 14px;
    line-height: 1.29;
    max-width: 165px;
    height: 48px;
    padding: 15px;
  }

  .ftr-logo-soc-tel {
    display: flex;
    justify-content: space-between;
  }

  .ftr-soc-list {
    margin-bottom: 86px;
  }

  .ftr-title {
    font-size: 28px;
    line-height: 1.14;

    max-width: 524px;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .m-ad-wrap {
    padding-bottom: 24px;
    margin-top: 50px;
  }

  .ftr-menu {
    margin-right: 62px;
    margin-bottom: 24px;
  }

  .ftr-m-link {
    font-size: 14px;
  }

  .ftr-ad-text {
    font-size: 14px;
    line-height: 1.29;
    max-width: 162px;
    margin-left: auto;
  }

  .copyrights-wrap {
    display: flex;
    justify-content: space-between;
  }

  .copyrights {
    font-size: 14px;
    line-height: 1.29;
  }

  .policy {
    font-size: 14px;
    line-height: 1.29;
    margin-top: 0;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1216px;
  }

  .ftr-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .ftr-mob-wrap {
    display: none;
  }

  .ftr-desktop-wrap {
    display: unset;
  }
}
