.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #0c0c0c;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  width: 200px;
  height: 100%;
  background-image: image-set(
    url(../img/mob.jpg) 1x,
    url(../img/mob-2x.jpg) 2x
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 40px;
}

.mob-menu-list {
  padding: 0;
  text-align: center;
  margin-bottom: 11.5vh;
}

.mob-menu-li:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.02em;
  color: #fbfbfb;
  text-align: center;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.menu-close-btn {
  border: none;
  background: none;
}

.svg-close-mob {
  stroke: #fbfbfb;
}

.button-container {
  text-align: right;
  width: 100%;
  padding: 20px;
}

.socmedia-list {
  display: flex;
  gap: 10px;
}

.socmedia-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
}

.mob-menu-li.active::after {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #3350e9;
  display: block;
  margin: 2px auto;
  border-radius: 50%;
}

.socmedia-icon {
  fill: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    width: 330px;
    background-image: image-set(
      url(../img/mob-768.jpg) 1x,
      url(../img/mob-768-2x.jpg) 2x
    );
  }

  .svg-close-mob {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .backdrop {
    display: none;
  }
}
