/* Reset styles */
@font-face {
  font-family: 'Gilroy';

  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';

  src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';

  src: url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
    url('../fonts/Gilroy-Semibold.woff') format('woff'),
    url('../fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';

  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff'),
    url('../fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
  background-color: #fbfbfb;
  color: #0c0c0c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* p:last-child {
  margin-bottom: 0;
} */

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
}

/* TABLET */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 65px;
    padding-right: 65px;
    margin: 0 auto;
  }
}
