.review {
  padding-bottom: 60px;
}

.review-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.review-item {
  border-radius: 30px;
  padding: 32px 36px;
  background: #f3f3f3;
  max-width: 100%;
  height: auto;
}

.review-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.review-img {
  border-radius: 100%;
  stroke-width: 2px;
  stroke: #fbfbfb;
  width: 56px;
  height: 56px;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}
.review-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}
.review-text {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}
.two {
  display: none;
}
.three {
  display: none;
}

@media screen and (min-width: 768px) {
  .review {
    padding-bottom: 80px;
  }
  .review-title {
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
  .review-subtitle {
    font-size: 18px;
    line-height: 1.1;
  }

  .review-text {
    font-size: 16px;
    line-height: 1.25;
    width: 272px;
  }

  .review-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 16px;
  }
  .review-item {
    flex-basis: calc((100% - 16px) / 2);
  }

  .two {
    display: unset;
  }
}

@media screen and (min-width: 1280px) {
  .review {
    padding-bottom: 100px;
  }

  .three {
    display: unset;
  }

  .review-item {
    flex-basis: calc((100% - 40px) / 3);
  }

  .review-content {
  }
  .review-text {
    width: 298px;
  }
}
